# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
#
# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================
spring:
  # ===================================================================
  # General configuration
  # ===================================================================
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  # ===================================================================
  # Database configuration
  # ===================================================================
  datasource:
    url: ${KLIF_DB_URL:jdbc:postgresql://localhost:5432/db_chatai}
    username: ${KLIF_DB_USERNAME:}
    password: ${KLIF_DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver
  # ===================================================================
  # RabbitMQ configuration
  # ===================================================================
#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

