<html>
<head></head>
<body><h3><strong>Privacy Policy</strong>:</h3>
<p>–&nbsp;<strong>Personal information:</strong>&nbsp;We do not collect any Personal Information from you. "Personal Information" refers to any personally identifiable information, such as your name, email address, physical address, calendar entries, contact entries, files, photos, etc.</p>
<p>–&nbsp;<strong>Non-personal information:</strong>&nbsp;We collect non-personal information about your use of our apps, which is aggregated and anonymous. "Non-personal information" refers to information that cannot be used to personally identify you, such as the type of mobile device you use, your mobile device's unique device ID, your mobile operating system, the length of a session when you use the app, and any potential crashes. We do not store this data.</p>
<p>–&nbsp;<strong>Face data:</strong>&nbsp;We do not collect or store any face data in our apps.</p>
<p>–&nbsp;<strong>Security:</strong>&nbsp;We take the confidentiality of your information seriously. We do not collect Personal Information and have implemented administrative, physical, and electronic safeguards to protect your Non-Personal Information from unauthorized access and use.</p>
<p>–&nbsp;<strong>Your privacy:</strong>&nbsp;We do not store or retain any personal information that can be used to identify you, the end-user. We do not share or sell any data specific to the end-user to third parties. We do not store users' personal information or data.</p>
<p>–&nbsp;<strong>Crashlytics:</strong>&nbsp;We use Crashlytics to collect crash reports and anonymous statistical information. This helps us to fix bugs. If you experience a crash, we may upload logging information to help diagnose the problem.</p>
<p>–&nbsp;<strong>Contact:</strong>&nbsp;If you have any questions or comments about this Privacy Policy or any other issues regarding our apps or services, please contact us at ftarikchatgt@gmail.com</p>
</body>
</html>
